:root {
	/* Colors */
	--clr-green: #37ab30;
	--clr-yellow: #ffd771;
	--clr-blue: #417293;
	--clr-grey: #f8f8f8;
	--clr-red: #e72315;

	--clr-grey-border: #dddddd;

	--clr-dark-text: #333;
	--clr-bright-text: #fff;
	--clr-blue-text: #3a749a;
	--clr-grey-text: #686868;

	--clr-grey-input: #dfdfdf;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Jost', Arial, Helvetica, sans-serif;
	list-style: none;
}

.non-display {
	display: none;
}

.btn-primary {
	max-height: min-content;
	text-decoration: none;

	background-color: var(--clr-yellow);
	color: var(--clr-dark-text);
	border: none;
	padding: 15px 30px;
	font-size: 1rem;
	font-weight: 700;
	border-radius: 12px;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}
.anima-jumping {
	animation: jumping 6s ease-in-out infinite 2s;
}
.anima-jumping:hover {
	transition: transform 0.1s ease-out;
	transform: scale(1.2);
	animation: none;
}

@keyframes jumping {
	from,
	10%,
	20%,
	to {
		transform: scale(1);
		box-shadow: 0 2px 12px #00000055;
	}

	5%,
	15% {
		transform: scale(1.1);
		box-shadow: 0 2px 20px #00000066;
	}
}

.subtext {
	font-size: 0.8rem;
}

.simple-btn {
	background: none;
	border: none;
	outline: none;
	font-weight: 500;
	padding: 3px;
}

.simple-btn-cancel {
	color: var(--clr-red);
	font-size: 0.9rem;
}
.simple-btn-accept {
	color: var(--clr-blue);
	font-size: 1.2rem;
}

.unselectable-text {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
}

html::-webkit-scrollbar {
	width: 0;
}

.main-container {
	padding-top: 0vh; /*before 23vh and before 35vh */
	height: 150vh; /* 100 + 35 top + 15 bottom */
	overflow: hidden;
}

div#map {
	max-height: 80vh;
	min-height: 30vh;
}

/* Application */

.app-main-container {
	width: 100%;
	height: 55vh;
	min-height: 20vh;
	max-height: 70vh;
	padding: 0 10px;

	/* This section overwrite above 
    because the move not is good*/
	height: max-content;
	min-height: 55vh;
	max-height: none;
	padding-bottom: 15px;

	background-color: var(--clr-blue);

	border-radius: 15px 15px 0 0;
	box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.25);
	z-index: 100;
}

.main-controls {
	width: 90%;
	max-width: 600px;
	background-color: white;

	border-radius: 12px;
	margin: 0 auto;

	transform: translateY(-50%);
	display: flex;
	flex-wrap: wrap;

	overflow: hidden;
	box-shadow: inherit;
}

.main-controls__control:nth-child(1) {
	width: 100%;
}
.main-controls__control:nth-child(2) {
	width: 50%;
}
.main-controls__control:nth-child(3) {
	flex-grow: 1;
}
.main-controls__control:nth-child(4) {
	flex-grow: 1;
}
.main-controls__control:nth-child(5) {
	flex-grow: 1;
}

a.non-decoration {
	text-decoration: none;
	color: inherit;
}
